@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #eeeeee;
    color: #2038af;
    font-size: 24px;
    padding: 20px 40px 20px 40px;
    margin:0;
    font-family: "Montserrat";
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

header h1 {
    width: 70px;
}

a {
    text-decoration: none;
    color: #2038af;   
}

h2 {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
}

.photo { 
    margin: 10px;
    position: relative;
    display: inline-block;
}

.photo img {
    max-height: 320px;
}

.photo:hover img{
    filter: grayscale(100%);
}  

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color:  #203a8f;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    z-index: 1;
}

.photo:hover .overlay {
    opacity: 0.85;
}

.photo:hover img {
    filter: grayscale (100%);
}

.biog {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 120px;
}

.back-link {
    text-decoration: underline;
    font-weight: 700;
    padding: 80px 0 40px 0;
}
footer {
    display: flex;
    justify-content: flex-end;
    padding: 60px 20px 40px 20px;
}

@media (max-width: 320px) {
    body {
        padding: 20px;
        font-size: 16px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 20px 0;
        font-size: 18px;
    }

    .biog {
        margin-top: 0;
    }

    .biog {
        margin-top: 0;
        font-size: 16px;
    }
    h1 {
        font-size: 18px;
    }

    .back-link {
        text-decoration: underline;
        font-weight: 700;
        padding: 20px 0 40px 0;
        font-size: 15px;
    }
    footer {
        display: flex;
        justify-content: flex-end;
        padding: 40px 0 10px 20px;
    }
}

  
  

